.MMM-TitanSchoolMealMenu .day-label {
  font-weight: 700;
}

.MMM-TitanSchoolMealMenu .breakfast-description, .MMM-TitanSchoolMealMenu .lunch-description {
  font-weight: 300;
}

.MMM-TitanSchoolMealMenu .meal-title {
  font-weight: 400;
}

.MMM-TitanSchoolMealMenu .error {
  color: gray;
  width: 50%;
}

.MMM-TitanSchoolMealMenu ul {
  list-style-type: none;
}

.MMM-TitanSchoolMealMenu .meal-list {
  text-align: left;
}

.MMM-TitanSchoolMealMenu .meal-recipes {
  display: block;
  padding-left: 1em;
}
