.day-label {
  font-weight: 700;
}

.meal-description {
  font-weight: 300;
}

.error {
  color: gray;
  width: 50%;
}

.small {
  font-size: 15px;
}

.medium {
  font-size: 23px;
}

.large {
  font-size: 30px;
}

ul {
  list-style-type: none;
}
