.MMM-TitanSchoolMealMenu .day-label {
  font-weight: 700;
}

.MMM-TitanSchoolMealMenu .meal-description {
  font-weight: 300;
}

.MMM-TitanSchoolMealMenu .meal-title {
  font-weight: 400;
}

.MMM-TitanSchoolMealMenu .error {
  color: gray;
  width: 50%;
}

.MMM-TitanSchoolMealMenu ul {
  list-style-type: none;
}
